<?xml version='1.0' encoding='utf-8'?>
<widget xmlns='http://www.w3.org/ns/widgets' id='https://github.com/yuzuemon/Garoon-Notifier' version='1.0.0'>
  <name>Garoon Notifier</name>
  <description xml:lang='en'>for Garoon ver. 2.5.2</description>
  <author href='http://d.hatena.ne.jp/Yuzuemon'>yuzuemon</author>

  <icon width='64' height='64' src='logo64.ico' />
  <icon width='18' height='18' src='logo64.ico' />

  <feature name='opera:share-cookies' required='false' />
  <access origin='http://portal' subdomains='true' />

  <preference name='apiKey' value='hoge' readonry='true' />
</widget>
